<h1>Your Clubs</h1>

<% if !@clubs.nil? %>
<% @clubs.each do |club| %>
<% if club.valid? %>
<%= link_to "#{club.name}", user_club_path(club.user, club) %><br>
<% end %>
<% end %>
<% end %>
<br>
<%= link_to "Create a New Club", new_user_club_path(User.find_by_id(session[:user_id])) %>
<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
