<% if @error_message %>
<p><%= "#{@error_message}" %></p>
<% end %>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Name</label>
  <input name=name><br>
  <label>Password</label>
  <input name=password>
  <input type=submit value='login'>
<% end %>
