<h1>Your Contract Investigations</h1>

<% if !@contracts.nil? %>
<% @contracts.each do |contract| %>
<% if contract.valid? %>
<%= link_to "#{contract.player.name} & #{contract.club.name}", user_contract_path(contract.user, contract) %><br>
<% else %>
<%= link_to "Your data for this contract is currently invalid", user_contract_path(contract.user, contract) %><br>
<% end %>
<% end %>
<% end %>
<br><br>
<%= link_to "Create a New Contract", new_user_contract_path(User.find_by_id(session[:user_id])) %>
<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
