<h1><%= @user.name %></h1>
<% if @error_message %>
<p><%= "#{@error_message}" %></p>
<% end %>
<%= link_to "Your Contract Investigations", user_contracts_path(@user) %><br>
<%= link_to "Logout", logout_path %>
