<h1>Your Agents</h1>

<% if !@agents.nil? %>
<% @agents.each do |agent| %>
<% if agent.valid? %>
<%= link_to "#{agent.name}", user_agent_path(agent.user, agent) %><br>
<% end %>
<% end %>
<% end %>
<br>
<%= link_to "Create a New Agent", new_user_agent_path(User.find_by_id(session[:user_id])) %>
<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])), class: "home" %>
