<h1>Your Players</h1>

<% if !@players.nil? %>
<% @players.all.each do |player| %>
<%= link_to "#{player.name}", user_player_path(player.user, player) %><br>
<% end %>
<% end %>
<br>
<%= link_to "Create a New Player", new_user_player_path(User.find_by_id(session[:user_id])) %>
<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
